<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: 'partials/header', locals: { page: 'REGISTER' } %>

  <nav class="header">
  <div>
  <%= link_to root_path, class: "back" do %>
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  <% end %>
</div>
    <div>
      <p> REGISTER </p>
    </div>
    <div class="next">
        <%= f.submit "NEXT", class: "registration-button" %>
      </div>
  </nav>

  <div class="container">
    <div class="field form-div">
      <% f.label :email %>
      <%= f.email_field :email, id: "Email", autofocus: true, autocomplete: "email", required: true, placeholder: "Email", class: "form-input" %>
    </div>

    <div class="field form-div">
      <% f.label :name %>
      <%= f.text_field :name, id: "name", autofocus: true, autocomplete: "text", required: true, placeholder: "Name", class: "form-input" %>
    </div>

    <div class="field form-div">
      <% f.label :password %>
      <%= f.password_field :password, id: "Password", autocomplete: "new-password", placeholder: "password (6 character minimum)", class: "form-input" %>
    </div>

    <div class="field form-div">
      <% f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, id: "Password_confirmation", autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-input" %>
    </div>
  </div>



<% end %>