<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="d-flex flex-column ">
  <%= link_to "Edit this user", edit_user_registration_path %> 
  <%= link_to "Show list of users logged in", user_registration_path, class:"mt-5 justify-content-center text-decoration-none " %>

  <%= link_to "Sign out", destroy_user_session_path, class: " btn btn-primary mt-0 p-3 w-40 "  %>
</div>
