<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <nav class="bg-primary text-white d-flex justify-content-between p-4 mt-1">
     <div>
       <%= link_to root_path, class: "text-white fs-4 " do %>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      <% end %>
     </div>
      <div>
        <p> LOG IN </P>
      </div>
      <div>
        <%= link_to "LOG IN", new_user_session_path, class: "text-white fs-4 text-decoration-none" %>
      </div>
  </nav>
  
    <div class="sign-color container">
     <div class="border border-light m-3 p-3">
      <% f.label :email %>
      <%= f.email_field :email, id: "Email", autofocus: true, autocomplete: "email", required: true, placeholder: "Email", class: " border-0" %>
     </div>
  
     <div class="border border-light m-3 p-3">
      <% f.label :password %>
      <%= f.password_field :password, id: "Password", autocomplete: "current-password", placeholder: "password", class: "border-0" %>
    </div>

  
      <% if devise_mapping.rememberable? %>
        <div class="field form-div">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
  
    

   
  <% end %>