<nav class="bg-primary text-white d-flex justify-content-between p-4 mt-0  text-center">
      <div>
      <%= link_to user_path(current_user) do %>
        <i class="fa fa-user text-white fs-4" aria-hidden="true"></i> 
      <% end %>
      </div>

      <div>
        <p class: "text-white fs-3 fw-bold "> CATEGORY </p>
      </div>
     
      <div>
       <%= link_to root_path, class: "text-white fs-4 " do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
     </div>
  </nav>
<main class="main-style">


<div class="d-flex justify-content-between w-full shadow text-xl px-5 py-3">
	<p>Total Spendings</p>
	<small class="font-bold text-xl">
	  <% credit = 0 %>
	  <% @categories.each do |category| %>
	  <% category.transactions.each do |transaction| %>
		<% credit += transaction.amount %>
	  <% end %>
	  <% end %>
	  <%= "$#{credit}" %>
	</small>
</div>

<div class="container">
  <div id="categories">
    <% if @categories.empty? %>
      <div class="message">There are no categories to display. Add one.</div>
    <% else %>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
  </div>


  <footer>
  <div class="action">
  <%= link_to "New category", new_category_path, class: "btn btn-secondary fixed-bottom actions" %>
  </div>
  </footer>
</main>