<nav class="header">
   <h2>SMART SAVER</h2>
  <div>
    <p> TRANSACTIONS </p>
  </div>
  <div>
    <%= link_to "Back", categories_path, class: "back" %>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<div class="container">
<div id="transactions">
  <% if @transactions.empty? %>
    <div class="message">There are no transactions to display. Add one.</div>
  <% else %>
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
    <% end %>
  <% end %>
</div>

<div class="total bg-info text-white">
  <h5>Total Amount:</h5>
  <p>$<%= @total %></p>
</div>

<div class="mb-4">
  <%= link_to "New transaction", new_transaction_path, class: "btn btn-secondary" %>
</div>

<div>
  <%= link_to "Show this transaction", @transaction %>
</div>
</div>

<footer>
<div class="actions">
 <%= link_to "Back to transactions", transactions_path %>
 </div>
 </footer>

